{{#x-card
  onsubmit=attrs.onsubmit
  title="Login to Planit"
  buttonText='Login'}}
  <div class='row'>
    {{x-input
      classNames='col-sm-12'
      type='email'
      label='Username'}}
  </div>
  <div class='row'>
    {{x-input
      classNames='col-sm-12'
      type='password'
      label='Password'}}
  </div>
  {{/x-card}}
