@import 'bootstrap';

//Variables
@import 'vars.scss';

//All things strictly text related
@import 'text-style.scss';

//buttons
@import 'button-style.scss';

//panels
@import 'panel.scss';


.applicationWrapper{
  background-color:$darkBlue;
  background-image: radial-gradient(circle, transparent 70%, $mainBlue 60%);
  background-size: 10px;
  background-blend-mode: color-burn;
  background-repeat: repeat;
}

html, body, .ember-view, .applicationWrapper{
  height:100%;
}

.content-head{
  height:75px;
}

.content-body{
}
