@import 'bootstrap';

//Variables
@import 'vars.scss';

//Navigation
@import 'nav.scss';

//All things strictly text related
@import 'text.scss';

//buttons
@import 'button.scss';

//panels
@import 'panel.scss';

//wrappers
@import 'wrappers.scss';



html, body, .ember-view, .applicationWrapper, .content-body{
  vertical-align: top;
  height:100%;
}

.content-head{
  height:75px;
}

.content-body{
}
