.btn-twitter{
  background-color:#10bcd3;
  color:#FFF;
}
.btn-google{
  background-color:#d34810;
  color:#FFF;
}
.btn-submit{
  background-color:#2d4d87;
  color:#FFF;
}

.btn-nav{
  height:100%;
}
