@mixin panel-shadow($position){
  box-shadow: black $position inset;
}
.panel-default{
    @include panel-shadow(5px);
}
.panel-header{
}

.panel-body, .panel-footer{
  background-color: rgba(0,0,0,0.1);

  &.hover{
    background-color:#000;
  }
}

.panel-footer{
  border-top:0px;
}


.panel{
  border:black;
  border-width: 2px;
  border-style:solid;
}
