<div class="row">
  <div class="col-md-4 col-md-push-4">
{{input value=model.title class="form-control" placeholder="Title"}}
{{input value=model.description class="form-control" placeholder="Description"}}
<button class="btn btn-submit" disabled={{isSubmittable}} {{action 'submitIdea' model}}>Submit</button>
</div>
</div>
