<div class="container-fluid">
<h1 class="text-center text-info">COMING SOON</h1>
<ul class="nav navbar-nav navbar-right">
{{#if session.isAuthenticated}}


  <li>
    <p class="text-danger">TODO:</p><p class="text-info">Fill this with login data</p>
  </li>
  <li>
    <button class="btn btn-danger btn-xs" {{action 'logout'}}>Logout</button>
  </li>
{{else}}
<li><p class="text-info">You are not logged in</p></li>
{{/if}}
</ul>

{{outlet}}
</div>