<div class="container-fluid applicationWrapper">
  <div class="content-head">
    <ul class="nav navbar-nav navbar-left btn-group">
      <li class="btn btn-default btn-xs">{{#link-to 'index'}}Home{{/link-to}}</li>
      <li class="btn btn-default btn-xs">{{#link-to 'idea'}}Create Idea{{/link-to}}</li>
    </ul>
  
<ul class="nav navbar-nav navbar-right">
{{#if session.isAuthenticated}}
  <li>
    <p class="text-danger">{{session}}</p><p class="text-info">Fill this with login data</p>
  </li>
  <li>
    <button class="btn btn-danger btn-xs" {{action 'logout'}}>Logout</button>
  </li>
{{else}}
<li><p class="text-info">You are not logged in</p></li>
{{/if}}
</ul>
</div>
<div class="content-body">
{{outlet}}
</div>
</div>