<div class="container-fluid applicationWrapper">
<ul class="nav navbar-nav navbar-right">
  <li>{{#link-to "idea" class="btn btn-success"}}
    Create Idea
  {{/link-to}}</li>
  <li>
<ul class="nav navbar-nav navbar-right">
{{#if session.isAuthenticated}}
  <li>
    <p class="text-danger">{{session}}</p><p class="text-info">Fill this with login data</p>
  </li>
  <li>
    <button class="btn btn-danger btn-xs" {{action 'logout'}}>Logout</button>
  </li>
{{else}}
<li><p class="text-info">You are not logged in</p></li>
{{/if}}
</ul>
  </li>

</ul>
{{outlet}}
</div>