<div class="row">
  <div class="col-md-4 col-md-push-4">
{{input value=model.name class="form-control" placeholder="Name"}}
{{input value=model.description class="form-control" placeholder="Description"}}
<button class="btn btn-submit" {{action 'submitIdea' model}}>Submit</button>
</div>
</div>
