<p>Welcome to the index template!</p>
<!--<iframe src="//giphy.com/embed/pFwRzOLfuGHok" width="480" height="299" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p><a href="http://giphy.com/gifs/next-pFwRzOLfuGHok">via GIPHY</a></p>-->


<!--Left side column on page-->
<div class="row">
  <div class="col-md-8">
<div class="panel-group">
{{#each model as |idea|}}
<div class=" col-sm-4 col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">{{idea.name}}</div>
    <div class="panel-body">{{idea.description}}</div>
    <div class="panel-footer"><a href="#">TODO: make a link to each idea</a></div>
  </div>
</div>
{{/each}}
</div>
  </div>
</div>