
<div class="container-fluid">
  <div class="col-md-4 col-md-offset-4">
<button class="btn btn-primary" {{action 'login' "facebook"}}>Facebook Login</button>
<button class="btn btn-google" {{action 'login' 'google'}}>Google Login</button>
<button class="btn btn-twitter" {{action 'login' 'twitter'}}>Twitter Login</button>
<button class="btn btn-danger pull-right" {{action 'logout'}}>Logout</button>
  </div>
</div>